html, body, #app, #app>div {
  height: 100vh
}

.login {
  color: #053443;
}

.login_button{
  background-color: #38687E;
}

.dwellCode_button{
  border-radius: 100px;
  background-color: #458EAD;
}

.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-gap: 1em;

  /* For testing purposes */
  /* border-style: solid;
  border-width: 1px; */
}

header, footer {
  grid-column: 1 / 4;
}



@media all and (max-width: 700px) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

body {
  margin: 0 auto;
  max-width: auto;
}

header,
aside,
article,
footer {
  /*background: #eaeaea;*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;

    /* For testing purposes */
    /* border-style: solid;
    border-width: 3px; */
}

.iconTable {
  width: 100%; /* Try setting this to 400px or something */
  display: table;
}

.iconChild {
  display: table-cell;
}

.iconChildInner {
  margin-left: 0px;
  min-height: 40px;
}

.iconChild:first-child .iconChildInner {
  margin-left: 0;
}

.logo {
  width: 15%;
  display: block;
  float: left;
}

.logo:hover{
  color: #00B875;
  text-decoration: none;
}

.subheader {
	font-size: 1em;
	text-align: center;
  color: #2D322A;
  width:100%;
  padding-top: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-bottom: 0.2%;
	font-size: 1.25em;
	text-align: center;
	text-decoration: none;
}

li { 
	display: inline;
}

.nav_bar {
	padding-top: 5px;
	padding-bottom: 1.7vh;
	position: sticky;
	top: 0.01px;
	background: #65C4EA;
}


.sidenav {
  background-color: #cfd1d0; 
  padding-top: 10%;
  padding-bottom: 120%;
  height: 100%;
}


.avatar {
  border-radius: 50%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-name{
  text-decoration: none;
  font-size: 20px;
  color: #272727;
  display: block;
  padding-top: 0.5em;
  text-align: center;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidebarDropDown{
  display: none;
}

.graphHeight{
  height: 100vh;
}

.info-circles{
  width: 25%;
}

.lead-img{
  width: 20%;
}

.lead-header{
  font-size: 1.5em;
}

footer {
  text-align: center;
  padding: 0.5em;
  background: #B3B3B3;
}

.f_button {
  color: black;
  padding-left: 1%;
  padding-right: 1%;
	text-decoration: none;
	font-size: 1em;
}

.f_button:hover {
  color: grey;
}

.settings-devices{
  padding-bottom: 1em;
}

.profile-avatar-wrap {
  position: relative;
}
.profile-avatar-wrap:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.securityColumn{
  display: none;
}

.securityRow {
  display: block;
}

.personalInfoBox{
  width: 100%;
}

.sidebarButtons{
  height: 8em;
  width: 100%;
}

.backgroundImg{
  width: 100%;
  bottom:0px;
}

.boldTitle{
  font-weight: bold;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1013px ){
  .securityColumn{
    display: block;
  }

  .securityRow{
    display: none;
  }
}

@media only screen and (min-width: 858px){
  .personalInfoBox{
    width: 75.5vw;
  }
}

@media only screen and (max-width: 700px){
  
  .sidebarDropDown{
    display: block;
    width: auto;
    margin: 10px 10px;
  }

  .dropDownText{
    font-family: 'Roboto';
  }

  .sidenav-text{
    visibility: hidden;
  }
  
  .sidenav-div{
    visibility: hidden;
  }

  .sidebarButtons{
    width: 100vw;
  }

  .sidenav{
    padding-bottom: 5%;
  }
  
}

@media only screen and (max-width: 576px){
  .sidebarButtons{
    width:130vw;
  }
}


.clock {
  width: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 5px;
  background: #ccc;
}

.digital-clock {
  padding: 10px;
}

.analog-clock {
  width: 100px;
  height: 100px;
  border: solid 1px #000;
  border-radius: 50%;
  position: relative;
  background: #fff;
}

.dial {
  position: absolute;
  left: 50%;
  width: 50px;
  height: 50px;
  transform-origin: bottom left;
}

.seconds {
  border-left:solid 1px green;
}

.minutes {
  border-left:solid 1px #cc0000;
}

.hours {
  width: 35px;
  height: 35px;
  top: 15px;
  border-left:solid 2px #000;
}
  

.login_img1{
  display: block;
  width: 100%;
  position: absolute;
}

.login_img2{
  display: none;
  height: 100vh;
  position: absolute;
}

@media only screen and (max-width: 1182px){

  .login_img2{
     display: block;
  }
  
  .login_img1{
    display: none;
  }
}